*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
    line-height: 1.7;
    font-family: sans-serif;
    background-color: whitesmoke;
}
.header_nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1050px;
    border:  solid #354F60 1px;
    padding: 10px;
    padding-right: 6px;
    margin-top: 10px;
    background-color: #ffc501;
   width: 100%;
   padding-left: 2px;
    
}
.logo{
    width: 100px;
     border: #818181;
     border-radius: 100%;
}
.header_nav-items{
    display: flex;
    gap: 25px;
    align-items: center;
    font-size: 25px;
}
.header_nav-item a{
    color: rgb(48, 10, 117);
    text-decoration: none;
    font-weight: bold;
}
.header_nav-item a:hover{
    color:red;
    text-decoration:underline ;
}
.item{
    border: 2px solid white;
     padding: 1px;
    margin: 50px auto;
    height: 100%;
    width: 60%;
    border-radius: 9px;
    background-color: #f7f3f3;
    box-shadow: 0 0 25px rgb(160, 159, 159);

   
}
.container{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.header {
    margin: 0 34px;
    padding: 8px;
    
}

.item-head{
    text-align: center;
    font-size: 27px;
    margin-bottom: 15px;
    background-color:#BC0E4c;
    color: black;
    width: 100%;
    height: 50px;
    color: white;
}
/* sec 1*/
.main{
    width: 240px;
    height: 240px;
    border: 1px solid black;
}

.img-sub{
    display: flex;
}
.sub-1{
    border: 1px solid black;
}
.sub-2{
    border: 1px solid black;
}
.sub-3{
    border: 1px solid black;
}
.color{
   width: 70px; 
   height: 35px;
   border: 1px;
   border-radius: 50%;
   border: black;
   gap: 19px;
   display: flex;
   justify-content: space-between;
  

    padding: 1px;
    padding-top: 2px;
    padding-left: 45px;
   
}

.green{
    background-color: #354F60;
    cursor: pointer;
}
.black{
    background-color: #BC0E4c;
    cursor: pointer;
}
.pink{
    background-color: #ffc501;
    cursor: pointer;
}
/* sec 2*/
.item-details{
    display: flex;
    justify-content: space-between;
     align-items: stretch;
     
}
.item-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top:1px;
}
.key{
   list-style: disc;
   color: #818181;
}
.info-price{
    
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    margin-top: 50px;  
}
.pay1{
    color: rgb(46, 46, 244);
    font-size: 20px;
}
.FREE{
    color:#BC0E4c;
    
    width: 200px;
}
.pin{
    
    height: 35px;
    width: 135px;
    justify-content: center;
    color: black;
}

.add{
    height: 35px;
    
}
.info-button{
display: flex;
gap: 15px;
width:250px;
height: 150px;
flex-direction: column;

}

.cart1{
    background-color: red;
    color: white;
    border: none;
    font-weight: bolder;
    width: 175px;
    height: 35px;
    cursor: pointer;
}
.buy1{
    background-color: orange;
    color: white;
    font-weight: bolder;
    border: none;
    width: 175px;
    height: 35px;
    cursor: pointer;
}
